.buttons {
  position: absolute;
  top: 30px;
  left: 30px;
  display: flex;
}

.button {
  margin-right: 20px;
  height: 60px;
  width: 60px;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  border-radius: 1em;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.button img {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 10px;
  opacity: 0.5;
}

.button:hover img {
  opacity: 0.7;
}
